:root {
	--primary: #ffbd59;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: var(--innerBlock2) !important;
	width: 100vw;
	height: 100vh;
}

body.teen,
body.unavailable,
body.error {
	display: flex;
	align-items: center;
	justify-content: center;
}

iframe {
	display: block;
}

body.teen iframe,
body.unavailable iframe,
body.error iframe {
	display: none;
}

#notice {
	display: none;
	text-align: center;
}

#teen, #unavailable, #error {
	display: none;
}

body.teen #notice,
body.unavailable #notice,
body.error #notice {
	display: block;
}

body.teen #notice #teen {
	display: block;
}

body.unavailable #notice #unavailable {
	display: block;
}

body.error #notice #error {
	display: block;
}

#hatch-logo {
	height: 70px;
}

a {
	color: var(--primary);
}

hr {
	color: #ffffff;
	opacity: 0.5;
}