  #main {
    background-color: var(--websiteBack);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  #content {
    background-color: var(--innerBlock);
    border-radius: 10px;
    padding: 10px;
  }
  #banner {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    font-size: 35px;
    color: var(--univText);
    text-align: center;
  }
  .rule {
    color: var(--univText);
    margin-top: 8px;
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
  }
  #explain {
    color: var(--univText);
    margin-top: 8px;
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
  #explain > a {
    color: var(--navLight);
  }