#container {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#big-logo {
  height: 160px;
}
#container h1 {
  color: white;
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}
#container h2 {
  margin: 0px;
  padding: 0px;
  color: white;
}
#container p {
  color: white;
  margin: 0px;
  margin-top: 10px;
}
#container a {
  text-decoration: none;
  color: var(--primary);
}
#container a:hover {
  font-weight: bold;
}
