:root {
  --navLight: #ffbd59;  /* navbar appearance */
  --navDark: #f0b151; /* navbar on hover */
  --signoutBorder: #aaa000; /* line in userinfo dropdown */
  --lightOrange: #ffbd59; /* orange links around the site */
  --searchBar: #d69d47; /* search bar background-color */
  --websiteBack: #000000; /* main background */
  --univText: #ffffff; /* text color */
  --innerBlock: #2b2b2b; /* all inner boxes */
  --blockBack: #2b2b2b; /* footer */
  --footerDisc: #ffbd59; /* very bottom, disclaimer */
}
/* General Elements */
body, html {
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--navLight);
}
input {
  outline: none;
}
#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
#container {
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#big-logo {
  height: 160px;
}
#container h1 {
  color: white;
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}
#container h2 {
  margin: 0px;
  padding: 0px;
  color: white;
}
#container p {
  color: white;
  margin: 0px;
  margin-top: 10px;
}
#container a {
  text-decoration: none;
  color: #ffbd59;
}
#container a:hover {
  font-weight: bold;
}
