/* body.loading .loading-skeleton {
    background-color: var(--blockBack) !important;
    color: var(--blockBack) !important;
    filter: brightness(1.5);
    z-index: 2;
    border-radius: 7px;
    display: inline-block;
} */
