:root {
    --navLight: #ffbd59; /* navbar appearance */
    --navDark: #f0b151; /* navbar on hover */
    --signoutBorder: #aaa000; /* line in userinfo dropdown */
    --lightOrange: #ffbd59; /* orange links around the site */
    --searchBar: #d69d47; /* search bar background-color */
    --websiteBack: #000000; /* main background */
    --univText: #ffffff; /* text color */
    --innerBlock: #2b2b2b; /* all inner boxes */
    --innerBlock2: #1b1b1b; /* use in combination with --innerBlock for nested sections */
    --footerDisc: #ffbd59; /* very bottom, disclaimer */
    --upvote: #7ed957; /* Upvote Button */
    --downvote: #ff5757; /* downvote button */
    --rating: #808080; /* rating text */
    --report: #5e0000; /* report button */
    --download: #0c4c7d; /* download */
    --share: #ffbd59; /* share */
    --reportText: #f8312f; /* report text */
    --downloadText: #38b6ff; /* download text */
    --shareText: #7f5e2c; /* share text */
    --blockBack: #2b2b2b; /* footer */
    --alert: #5e0c0c; /* alert */
}
.spacer {
    width: 100%;
    height: 7.5px;
}
input {
    outline: none;
}
body,
html {
    font-family: "Calibri", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--websiteBack);
}
a {
    color: var(--lightOrange);
    font-weight: bold;
    transition: ease 0.3s;
}
a:hover {
    color: var(--searchBar);
}
#main {
    min-height: calc(100vh - 185px);
    background-color: var(--websiteBack);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    color: var(--univText);
}
