body, html {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
.nav {
  background-color: #ffbd59;
  width: 80%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  padding: 0 10% 0 10%;
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
}
.nav img {
  height: 46px;
  margin: none;
  display: flex;
}
#main {
  background-color: #4d97ff;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#main p.welcome {
  font-size: 16pt;
}
#news {
  background-color: #D2D2D2;
  width: 98%;
  color: black;
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5px;
  padding-bottom: 0px;
  height: 215px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
#main .boxes {
  display: flex;
  height: 100%;
}
h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 16pt;
}
#news .newsviewall {
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 15px;
}
.newsbox {
  *{ margin: 0; padding: 0; }
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 30.8368%;
  height: 100%;
  background-color: #EAEAEA;
}
#featured {
  background-color: #D2D2D2;
  width: 98%;
  color: black;
  margin-top: 10px;
  padding-left: 1.25%;
  padding-right: 1%;
  padding-top: 5px;
  padding-bottom: 10px;
  height: px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
.featuredbox {
  *{ margin: 0; padding: 0; }
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  width: 98%;
  height: 100%;
  background-color: #EAEAEA;
}
.featuredbox img {
  margin: 0;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
.featuredtext {
  color: black;
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.footer {
  background-color: #D2D2D2;
table {
  margin-left: auto;
  margin-right: auto;
      }
.foot {
  td { padding-left: 50px;
       padding-right: 50px;
       padding-top: 10px;
       padding-bottom: 10px;
       text-align: center;
     }
      }
}
#userinfo {
  height: 30px;
  background-color: #ffbd59;
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
  /* below makes it so the dropdown text cannot accidentally be highlighted */
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
#userinfo:hover {
  background-color: #f0b151;
  cursor: pointer;
}
#pfpnav {
  width: 30px;
  height: 30px;
  padding-right: 6px;
}
.dropdown-option {
  background-color: #ffbd59;
  padding-left: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: #f0b151;
}
#userdrop {
  background-color: #f0b151; 
  border-radius: 10px;
  display: none;
}
#userdrop.active {
  display: block !important;
}
#userdrop:focus {
  outline: none;
}
#userbox:has(#userdrop.active) #userinfo {
  background-color: #f0b151 !important;
}
#lowest {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #aaa000;
  border-radius: 0px 0px 10px 10px;
}
.navitem {
  height: 30px;
  background-color: #ffbd59;
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  cursor: pointer;
}
#searchimgnav {
    float: right;
    display: flex;
    background-color: #ffbd59;
  }
#searchimgnav:hover {
  background-color: #f0b151;
}
#searchimghard {
  width: 25px;
  height: 25px;
  padding: 12.5px 0 12.5px 0;
  transition: transform .2s;
  cursor: pointer;
}
.navitem:hover {
  background-color: #f0b151;
}
.searchnavitem {
  height: 30px;
  background-color: #ffbd59;
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
}
#searchdiv {
 -webkit-flex: auto;
 flex: auto;
 ! padding-left: none;
 }
#search {
 -webkit-flex: auto;
 flex: auto;
  background-color: #d69d47;
  border-radius: 7px;.
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}
#searchinp {
  -webkit-flex: auto;
  flex: auto;
  background-color: #d69d47;
  border-radius: 7px;.
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}
html {
  background-color: #ffbd59;
}
#dropdownarrow {
  width: 15px;
  height: 15px;
  padding-top: 6px;
  padding-left: 5px;
}
#dropdownimgcover {
  height: 50px;
}
#logo:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#logo {
  transition: transform .2s;
  cursor: pointer;
}
#searchimghard:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
