#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#banner {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}
#queryinfo {
  font-size: 13.5px;
  text-align: center;
}
.resulttypebutton {
  background-color: var(--innerBlock2);
  width: 200px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: var(--navLight);
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-color: var(--univText);
}
#selected {
  background-color: var(--innerBlock);
}
#resulttype {
  gap: 10px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

.projthumb {
  width: 180px;
  border-radius: 5px;
}
.project {
  flex-direction: column;
  background-color: var(--innerBlock2);
  width: 180px;
  padding: 10px;
  border-radius: 10px;
}
.author {
  display: flex;
  font-size: 10px;
}
#projcontainer {
  gap: 10px;
  display: flex;
}

#loadmore {
  background-color: var(--innerBlock2);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border: none;
  font-size: 15px;
}
#loadmore:hover {
  font-size: 16px;
  cursor: pointer;
}
