:root {
  --navLight: #ffbd59;  /* navbar appearance */
  --navDark: #f0b151; /* navbar on hover */
  --signoutBorder: #aaa000; /* line in userinfo dropdown */
  --lightOrange: #ffbd59; /* orange links around the site */
  --searchBar: #d69d47; /* search bar background-color */
  --websiteBack: #000000; /* main background */
  --univText: #ffffff; /* text color */
  --innerBlock: #2b2b2b; /* all inner boxes */
  --blockBack: #2b2b2b; /* footer */
  --footerDisc: #ffbd59; /* very bottom, disclaimer */
}
body, html {
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
}
.nav {
  background-color: var(--navLight);
  width: 80%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  padding: 0 10% 0 10%;
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
}
.nav img {
  height: 46px;
  margin: none;
  display: flex;
}
#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
.footer {
  color: #ffbd59;
  background-color: #2b2b2b;
  padding-top: 10px;
  padding-bottom: 10px;
table {
  margin-left: auto;
  margin-right: auto;
      }
.foot {
  td { padding-left: 50px;
       padding-right: 50px;
       text-align: center;
     }
      }
}
.foot a {
  color: #ffbd59;
  text-decoration: none;
  transition: transform 0.2s;
}
.foot a:hover {
  text-decoration: underline;
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#disc {
  background-color: #ffbd59;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}
#userinfo {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
  min-width: 100px;
  justify-content: space-between;
  /* below makes it so the dropdown text cannot accidentally be highlighted */
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
#userinfo:hover {
  background-color: var(--navDark);
  cursor: pointer;
}
#pfpnav {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
#usernamenav {
  display: flex;
  align-items: center;
}
.dropdown-option {
  background-color: var(--navLight);
  padding-left: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: var(--navDark);
}
#userdrop {
  background-color: var(--navLight); 
  border-radius: 10px;
  display: none;
}
#userdrop.active {
  display: block !important;
}
#userdrop:focus {
  outline: none;
}
#userbox:has(#userdrop.active) #userinfo {
  background-color: var(--navDark) !important;
}
#lowest {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--signoutBorder);
  border-radius: 0px 0px 10px 10px;
}
.navitem {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 15px 20px 5px 20px;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  cursor: pointer;
  color: var(--univColor);
  text-decoration: none;
}
#searchimgnav {
    float: right;
    display: flex;
    background-color: var(--navLight);
  }
#searchimgnav:hover {
  background-color: var(--navDark);
}
#searchimghard {
  width: 25px;
  height: 25px;
  padding: 12.5px 0 12.5px 0;
  transition: transform .2s;
  cursor: pointer;
}
.navitem:hover {
  background-color: var(--navDark);
}
.searchnavitem {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
}
#searchdiv {
 -webkit-flex: auto;
 flex: auto;
 ! padding-left: none;
 }
#search {
 -webkit-flex: auto;
 flex: auto;
  background-color: var(--searchBar);
  border-radius: 7px;.
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}
#searchinp {
  -webkit-flex: auto;
  flex: auto;
  background-color: var(--searchBar);
  border-radius: 7px;.
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}
html {
  background-color: var(--navLight);
}
#dropdownarrow {
  width: 15px;
  height: 15px;
}
#dropdownimgcover {
  height: 100%;
  display: flex;
  align-items: center;
}
#logo:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#logo {
  transition: transform .2s;
  cursor: pointer;
}
#searchimghard:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}
#disc {
  background-color: var(--footerDisc);
  text-align: center;
  font-size: 15px;
}
#messagect {
  background-color: var(--websiteBack);
  height: 15px;
  border-radius: 35%;
  font-size: 10px;
  text-align: center;
  padding-left: 5.5px;
  padding-right: 5.5px;
  float: right;
  vertical-align: center;
  margin-left: -7px;
  z-index: 10002;
  color: var(--univText);
}
#msgsym{
  z-index: 10001;
  height: 30px;
  padding: 0px;
  padding-top: 4px !important;
}
#mail {
  padding-top: 5px !important;
  padding-right: 13.5px !important;
  max-width: 45px;
  height: 40px;
}
#pfp {
  height: 70px;
  width: 70px;
  background-color: white;
  display: flex;
  gap: 5px;
  border-radius: 5px;
}
#userbar {
  display: flex;
  gap: 5px;
  color: var(--univText);
}
#username {
  display: flex;
  font-size: 25px;
  #userat {
    padding-top: 5px;
    font-size: 20px;
    background-color: 
  }
}
#userdata {
  display: flex;
}
#followButton {
  display: flex;
  float: right;
  padding: 10px;
  background-color: var(--navLight);
  height: 20px;
  border-radius: 5px;
} 
#usernamecolumn {
  width: 100%;
  flex-direction: column;
}
#userinfoarea {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
  color: var(--univText);
}
#biocontainer {
  display: flex;
  gap: 5px;
  padding-top: 5px;
}
#aboutme{
  display: flex;
  background-color: var(--websiteBack);
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  overflow: scroll;
}
#wibd {
  display: flex;
  background-color: var(--websiteBack);
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  flex-direction: column;
  overflow: hidden;
  font-size: 20px;
  }
#biolabels {
  background-color: var(--innerBlock);
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
  height: 25px;
  display: flex;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  color: var(--lightOrange);
}
#bioinfo {
  display: flex;
}
#wibdinfo {
  display: flex;
  padding-left: 25px;
  flex-direction: column;
}
#spacer {
  width: 100%;
  height: 15px;
  background-color: var(--websiteBack);
}
#projects {
  color: var(--univText);
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
#projthumb {
  width: 180px;
  border-radius: 5px;
}
#project {
  flex-direction: column;
}
#projcontain {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
#projsecthead {
  display: flex;
  justify-content: space-between;
}
#seeallproj {
  float: right;
  display: flex;
}
#projhead {
  display: flex;
  font-size: 20px;
}
#author {
  display: flex;
  font-size: 10px;
}
#userstats {
  display: flex;
  background-color: var(--websiteBack);
  height: 200px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  gap: 5px;
  flex-direction: column;
  overflow: scroll;
  font-size: 20px;
}
#badges {
  background-color: var(--websiteBack);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#lightspacer {
  height: 10px;
}
#badgecontain {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  flex-wrap: wrap;
}
.badge {
  border-style: solid;
  border-width: 2px;
  border-color: var(--navLight);
  border-radius: 10px;
  background-color: var(--innerBlock);
  padding: 3px;
}
#whatarebadges {
  font-size: 15px !important;
  display: flex;
}
#followblock {
  background-color: var(--websiteBack);
  padding: 10px;
  display: flex;
  border-radius: 10px;
  font-size: 25px;
  gap: 10px;
  max-width: 50%
}
#followers {
  background-color: var(--innerBlock);
  padding: 5px;
  max-width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  border-radius: 10px;
  display: flex;
  vertical-align: middle;
  padding-top: 10px;
}
#connectionsblock {
 gap: 10px;
 display: flex;
}
#connections {
  background-color: var(--websiteBack);
  padding: 10px;
  display: flex;
  border-radius: 10px;
  font-size: 15px;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}
#connection {
  background-color: var(--innerBlock);
  padding: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  border-radius: 10px;
  display: flex;
  height: 15px;
}
#connectionslabel {
  display: flex;
}
#connectionscontain {
  display: flex;
  flex-wrap: wrap;
}
#scratchlogo {
  width: 10px;
  height: 10px;
}
#report {
  background-color: var(--websiteBack);
  padding: 10px;
  display: flex;
  border-radius: 10px;
  font-size: 15px;
}
#reportbutton {
  background-color: #5E0000;
  padding: 5px;
  color: #f8312f;
  border-radius: 10px;
  height: 30px;
}
.comments {
  color: var(--univText);
  width: 100%;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comments h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.comment-input {
  display: flex;
  gap: 10px;
}
.comment-input img {
  height: 34px;
  border-radius: 6px;
}
form.comment-submit > input[type=text] {
  color: white;
  background-color: #1b1b1b;
  border: 3px solid #1b1b1b;
  border-radius: 10px;
  width: auto;
  height: 20px;
  padding: 5px;
}
form.comment-submit > input[type=text]:focus {
  border: 3px solid #ffbd59;
}
form.comment-submit > input[type=submit] {
  cursor: pointer;
  color: white;
  background-color: #1b1b1b;
  border: 3px solid #1b1b1b;
  border-radius: 10px;
}
form.comment-submit > input[type=submit]:hover {
  color: #ffbd59;
  background-color: #1b1b1b;
  border: 3px solid #ffbd59;
  border-radius: 10px;
}
.comment-input > form.comment-submit {
  display: flex;
  gap: 10px;
}
.comment {
  background-color: #1b1b1b;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.reply {
  background-color: #2b2b2b;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.reply-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.comment-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
a.comment-username {
  color: white;
  text-decoration: none;
}
p.comment-time {
  color: #808080;
}
a.comment-report {
  text-decoration: none;
  font-weight: bold;
  color: #f8312f;
  padding-right: 5px;
  border-radius: 5px;
}
a.comment-report > img {
  height: 16px;
}
a.comment-reply {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding-right: 5px;
  border-radius: 5px;
}
.comment-pfp {
  width: 30px;
  border-radius: 7px;
}
p.content {
  margin-top: 0;
}
p.content > a {
  color: var(--lightOrange);
  font-weight: bold;
}
#wibditem > a {
  color: var(--lightOrange);
  font-weight: bold;
}
