.full {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 10px;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.welcome h1,
.welcome p {
  margin: 0px;
}
.welcome a {
  color: #ffbd59;
  font-weight: bold;
}
.big-logo {
  display: flex;
  justify-content: center;
}
.big-logo img {
  max-height: 60px;
  width: auto;
}
.signin {
  padding: 10px;
  margin-top: 10px;
  background-color: #1b1b1b;
  border-radius: 10px;
}
#signinform {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
#signinform a {
  color: #ffbd59;
  font-weight: bold;
}
#username {
  width: 100%;
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#username:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#signinform label {
  font-size: 18px;
}
#password {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#password:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#username:disabled,
#password:disabled {
  opacity: 0.5;
}
#submit {
  width: calc(100% + 16px);
  padding: 5px;
  margin-top: 10px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}
