:root {
  --navLight: #ffbd59;
  /* navbar appearance */
  --navDark: #f0b151;
  /* navbar on hover */
  --signoutBorder: #aaa000;
  /* line in userinfo dropdown */
  --lightOrange: #ffbd59;
  /* orange links around the site */
  --searchBar: #d69d47;
  /* search bar background-color */
  --websiteBack: #000000;
  /* main background */
  --univText: #ffffff;
  /* text color */
  --innerBlock: #2b2b2b;
  /* all inner boxes */
  --blockBack: #2b2b2b;
  /* footer */
  --footerDisc: #ffbd59;
  /* very bottom, disclaimer */
}

body {
  margin: 0px;
  font-family: "Calibri", sans-serif;
  background-color: #000;
}

#main {
  padding-left: 20%;
  padding-right: 20%;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.full {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.welcome h1,
.welcome p {
  margin: 0px;
}

.welcome a {
  color: #ffbd59;
  font-weight: bold;
}

.big-logo {
  display: flex;
  justify-content: center;
}

.big-logo img {
  max-height: 60px;
  width: auto;
}

.signin {
  padding: 10px;
  margin-top: 10px;
  background-color: #1b1b1b;
  border-radius: 10px;
}

#signinform {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

#signinform a {
  color: #ffbd59;
  font-weight: bold;
}

#username {
  width: 100%;
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#username:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}

#signinform label {
  font-size: 18px;
}

#password {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#password:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}

#submit {
  width: calc(100% + 16px);
  padding: 5px;
  margin-top: 10px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}

.nav {
  background-color: var(--navLight);
  width: 80%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  padding: 0 10% 0 10%;
  max-width: 100%;
  display: -webkit-flex;
  display: flex;
}

.nav img {
  height: 46px;
  margin: none;
  display: flex;
}

#userinfo {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
  min-width: 100px;
  justify-content: space-between;
  gap: 10px;
  /* below makes it so the dropdown text cannot accidentally be highlighted */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#userinfo:hover {
  background-color: var(--navDark);
  cursor: pointer;
}

#pfpnav {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

#usernamenav {
  display: flex;
  align-items: center;
}

.dropdown-option {
  background-color: var(--navLight);
  padding-left: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: var(--navDark);
}

#userdrop {
  background-color: var(--navLight);
  border-radius: 10px;
  display: none;
}

#userdrop.active {
  display: block !important;
}

#userdrop:focus {
  outline: none;
}

#userbox:has(#userdrop.active) #userinfo {
  background-color: var(--navDark) !important;
}

#lowest {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: var(--signoutBorder);
  border-radius: 0px 0px 10px 10px;
}

.navitem {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 15px 20px 5px 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: var(--univColor);
  text-decoration: none;
}

#searchimgnav {
  float: right;
  display: flex;
  background-color: var(--navLight);
}

#searchimgnav:hover {
  background-color: var(--navDark);
}

#searchimghard {
  width: 25px;
  height: 25px;
  padding: 12.5px 0 12.5px 0;
  transition: transform .2s;
  cursor: pointer;
}

.navitem:hover {
  background-color: var(--navDark);
}

.searchnavitem {
  height: 30px;
  background-color: var(--navLight);
  float: right;
  display: flex;
  padding: 10px 20px 10px 20px;
}

#searchdiv {
  -webkit-flex: auto;
  flex: auto;
  padding-left: none;
}

#search {
  -webkit-flex: auto;
  flex: auto;
  background-color: var(--searchBar);
  border-radius: 7px;
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}

#searchinp {
  -webkit-flex: auto;
  flex: auto;
  background-color: var(--searchBar);
  border-radius: 7px;
  border: solid;
  border-width: 0px;
  float: left;
  margin: 0px;
}

#dropdownarrow {
  width: 15px;
  height: 15px;
}

#dropdownimgcover {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#logo {
  transition: transform .2s;
  cursor: pointer;
}

#searchimghard:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#messagect {
  background-color: var(--websiteBack);
  height: 15px;
  border-radius: 35%;
  font-size: 10px;
  text-align: center;
  padding-left: 5.5px;
  padding-right: 5.5px;
  float: right;
  vertical-align: center;
  margin-left: -7px;
  z-index: 10002;
  color: var(--univText);
}

#msgsym {
  z-index: 10001;
  height: 30px;
  padding: 0px;
  padding-top: 4px !important;
}

#mail {
  padding-top: 5px !important;
  padding-right: 13.5px !important;
  max-width: 45px;
  height: 40px;
}

#userdrop>a {
  text-decoration: none;
  color: #000000;
  display: block;
}

.navitem a {
  display: block;
}

.footer {
  color: #ffbd59;
  background-color: #2b2b2b;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;

  table {
    margin-left: auto;
    margin-right: auto;
  }

  .foot {
    td {
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
    }
  }
}

.foot a {
  color: #ffbd59;
  text-decoration: none;
  transition: transform 0.2s;
}

.foot a:hover {
  text-decoration: underline;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#disc {
  background-color: #ffbd59;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}