#main {
  padding-left: 20%;
  padding-right: 20%;
  color: var(--univText);
  padding-top: 50px;
  padding-bottom: 50px;
}
.full {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.welcome h1, .welcome p {
  margin: 0px;
}
.welcome a {
  color: var(--navLight);
  font-weight: bold;
}
.big-logo {
  display: flex;
  justify-content: center;
}
.big-logo img {
  max-height: 60px;
  width: auto;
}
.signup {
  padding: 10px;
  margin-top: 10px;
  background-color: var(--innerBlock2);
  border-radius: 10px;
}
#signupform {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
#signupform a {
  color: var(--navLight);
  font-weight: bold;
}
#signup-username {
  width: 100%;
  padding: 5px;
  margin-right: 16px;
  background-color: var(--innerBlock);
  color: var(--univText);
  border: 3px solid var(--univText);
  border-radius: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#signup-username:focus {
  border: 3px solid var(--navLight);
  background-color: var(--navLight);
  color: var(--websiteBack);
}
#signupform label {
  font-size: 18px;
}
#password {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--innerBlock);
  color: var(--univText);
  border: 3px solid var(--univText);
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#password:focus {
  border: 3px solid var(--navLight);
  background-color: var(--navLight);
  color: var(--websiteBack);
}
#email {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--innerBlock);
  color: var(--univText);
  border: 3px solid var(--univText);
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#email:focus {
  border: 3px solid var(--navLight);
  background-color: var(--navLight);
  color: var(--websiteBack);
}
#admin {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--innerBlock);
  color: var(--univText);
  border: 3px solid var(--univText);
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#admin:focus {
  border: 3px solid var(--navLight);
  background-color: var(--navLight);
  color: var(--websiteBack);
}
#country-select {
  width: calc(100% + 16px);
  background-color: var(--innerBlock);
  color: var(--univText);
  padding: 5px;
  border: 3px solid var(--univText);
  border-radius: 10px;
  margin-bottom: 10px;
}
#tou:hover, #age:hover {
  cursor: pointer;
}
.checkboxes {
  display: flex;
  margin-bottom: 10px;
}
#submit {
  width: calc(100% + 16px);
  padding: 5px;
  background-color: var(--navLight);
  color: var(--websiteBack);
  font-weight: bold;
  border: 3px solid var(--univText);
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
#submit:hover {
  background-color: var(--navDark);
  cursor: pointer;
  border: 3px solid var(--navLight);
}
