.comment {
  background-color: #2b2b2b;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.reply {
  background-color: #1b1b1b;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.reply-top {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment-top {
  display: flex;
  gap: 10px;
  align-items: center;
}

a.comment-username {
  color: white;
  text-decoration: none;
}

p.comment-time {
  color: #808080;
}

a.comment-report {
  text-decoration: none;
  font-weight: bold;
  color: #f8312f;
  padding-right: 5px;
  border-radius: 5px;
}

a.comment-report > img {
  height: 16px;
}

a.comment-reply {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  padding-right: 5px;
  border-radius: 5px;
}

.comment-pfp {
  width: 30px;
  border-radius: 7px;
}

p.content {
  margin-top: 0;
}

p.content > a {
  color: var(--primary);
  font-weight: bold;
}
