#main {
  padding-left:20%;
  padding-right:20%;
  color:white;
  padding-top:20px;
  padding-bottom:20px;
}
.gallery {
  background-color:#2b2b2b;
  padding:10px;
  border-radius:10px;
  width:100%;
  display:flex;
  flex-direction:column;
  gap:10px;
}
.info {
  background-color:#1b1b1b;
  padding:10px;
  border-radius:10px;
  display:flex;
  gap:15px;
}
.info-stacked {
  display:flex;
  flex-direction:column;
  gap:5px;
  justify-content:center;
  width:100%;
}
.actions-stacked {
  display:flex;
  flex-direction:column;
  gap:5px;
  justify-content:center;
  width:30%;
}
.thumbnail {
  height:100px;
  border-radius:10px;
}
.gallery-name {
  margin:0px;
  padding:0px;
  width:100%;
}
.owner {
  padding:0px;
  margin:0px;
}
.owner a {
  color:#ffbd59;
  text-decoration:none;
  font-weight:bold;
}
#small {
  font-size:12px;
  padding:0px;
  margin:0px;
  color:#777777;
}
#report {
  color:red;
  padding:0px;
  margin:0px;
  text-decoration:none;
}
#join {
  color:black;
  padding:5px;
  width:100%;
  border-radius:8px;
  background-color:#ffbd59;
  border:5px white solid;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}
#join:hover {
  background-color:#d69d47;
  cursor:pointer;
  border:5px solid #ffbd59;
}
#follow {
  color:black;
  padding:5px;
  width:100%;
  border-radius:8px;
  background-color:#ffbd59;
  border:5px white solid;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}
#follow:hover {
  background-color:#d69d47;
  cursor:pointer;
  border:5px solid #ffbd59;
}
#gallery-contents {
  background-color:#1b1b1b;
  padding:10px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  gap:15px;
}
#tabs {
  display:flex;
  gap:0.5%;
}
.tab-current {
  color:black;
  padding:5px;
  width:24.5%;
  border-radius:8px;
  background-color:#ffbd59;
  border:5px #ffbd59 solid;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}
.tab-current:hover {
  background-color:white;
  cursor:pointer;
  border:5px solid #ffbd59;
}
.tab {
  color:black;
  padding:5px;
  width:24.5%;
  border-radius:8px;
  background-color:#ffbd59;
  border:5px white solid;
  transition:background-color 0.3s ease,border-color 0.3s ease;
}
.tab:hover {
  background-color:#d69d47;
  cursor:pointer;
  border:5px solid #ffbd59;
}
#tab-content {
  border:0;
}
#content-head {
  display:flex;
  align-items:center;
}
#tab-title {
  padding:0;
  margin:0px;
  width:100%;
}
#description {
  background-color: #1b1b1b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  height: 200px;
  overflow-y: auto;
}
.description-title {
  padding: 0;
  margin: 0;
}
#description-content {
  padding: 10px;
  background-color: #2b2b2b;
  margin: 0;
  border-radius: 10px;
}
#description-content a {
  color: #ffbd59;
  font-weight: bold;
}
#more-info {
  margin: 0;
}
.gallery-disclaimer {
  margin: 0;
  font-weight: bold;
}
.gallery-disclaimer > a {
  color: #ffbd59;
  font-weight: bold;
}
.gallery-guidelines {
  margin: 0;
  font-weight: bold;
}
.gallery-guidelines > a {
  color: #ffbd59;
  font-weight: bold;
}