#info-tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.statistics {
  display: flex;
  flex-direction: column;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
}
.statistics h3 {
  margin: 0;
  padding: 0;
}
.statistics p {
  margin: 0;
  padding: 0;
}
.statistics a {
  color: #ffbd59;
  font-weight: bold;
  text-decoration: none;
}
#manager-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
}
.settings-title {
  margin: 0;
  padding: 0;
}
input[type="file"] {
  margin-bottom: 10px;
}
input[type="file"]::file-selector-button {
  background-color: #2b2b2b;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
input[type="file"]::file-selector-button:hover {
  background-color: #ffbd59;
  border: 3px solid white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
#gallery-name-input {
  width: calc(100% - 16px);
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#gallery-name-input:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#gallery-description-input {
  width: calc(100% - 16px);
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  resize: none;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
}
#gallery-description-input:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#gallery-description-submit {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#gallery-description-submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}
#gallery-name-submit {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#gallery-name-submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}
#gallery-thumbnail-submit {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#gallery-thumbnail-submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}
#remove-member-input {
  width: calc(100% - 16px);
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#remove-member-input:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
.settings-label {
  font-size: 18px;
}
#owner-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
}
#promote-member-input {
  width: calc(100% - 16px);
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#promote-member-input:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#promote-member-submit {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#promote-member-submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  border-style: solid;
  border-width: 2px;
  border-color: var(--univText);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: var(--innerBlock2);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: var(--navLight);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
.toggle-switch.light .toggle-label {
  background-color: var(--univText);
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: var(--innerBlock2);
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}
#delete-gallery {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#delete-gallery:hover {
  color: white;
  background-color: #5e0c0c;
  cursor: pointer;
}
