#invite {
    color: black;
    padding: 5px;
    width: 20%;
    border-radius: 8px;
    background-color: #ffbd59;
    border: 5px white solid;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
#invite:hover {
    background-color: #d69d47;
    cursor: pointer;
    border: 5px solid #ffbd59;
  }
.stacked {
    display: flex;
    flex-direction: column;
}
#membercounts {
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b2b2b;
}
#managers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#members-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.user {
    display: flex;
    background-color: #2b2b2b;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}
.user img {
    width: 46px;
    height: 46px;
    border-radius: 7px;
}
.user p {
    margin: 0;
    padding: 0;
    color: white;
}
.user a {
    color: #ffbd59;
    text-decoration: none;
    font-weight: bold;
}