#submit {
  width: 100%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#submit:hover {
  color: black;
  background-color: var(--primary);
  cursor: pointer;
}
input,
textarea {
  width: calc(100% - 16px);
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  color: #aaaaaa;
  resize: none;
  font-family: "Calibri", sans-serif;
  font-size: 15px;
}
input:focus {
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: black;
}
textarea:focus {
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: black;
}
.header {
  font-size: 25px;
}
#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
input[type="file"] {
  margin-bottom: 10px;
  /* other css for the whole file selector here */
}
input[type="file"]::file-selector-button {
  /* just the button */
  background-color: #2b2b2b;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
input[type="file"]::file-selector-button:hover {
  background-color: var(--primary);
  border: 3px solid white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

.toggle-switch .toggle-input {
  display: none;
}

.toggle-switch .toggle-label {
  border-style: solid;
  border-width: 2px;
  border-color: var(--univText);
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: var(--innerBlock2);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: var(--navLight);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
.toggle-switch.light .toggle-label {
  background-color: var(--univText);
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: var(--innerBlock2);
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}
hr {
  color: var(--univText);
}
#content > a {
  color: var(--lightOrange);
  font-weight: bold;
}
