#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
.content {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
.banner {
  background-color: var(--innerBlock2);
  border-radius: 10px;
  padding: 10px;
  color: var(--univText);
  font-size: 30px;
  text-align: center;
}
#container1 {
  display: flex;
  gap: 10px;
}
#paragraph1 {
  background-color: var(--innerBlock2);
  padding: 35px;
  border-radius: 10px;
  color: var(--univText);
  font-size: 22.5px;
  margin-right: none;
}
#image1 {
  flex: auto;
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.faqitem {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--innerBlock2);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: var(--univText);
}
.faqq {
  font-weight: bold;
  font-size: 20px;
}
.faqa {
  font-size: 15px;
}
.faqa > a {
  font-weight: bold;
  color: var(--navLight);
  text-decoration: underline;
}
