.area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project {
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}
.main-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  height: 550px;
}
.player {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-part {
  display: flex;
  gap: 10px;
}
.authorlogo {
  height: 62px;
  border-radius: 10px;
}
.project-info {
  padding-top: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.project-info b {
  font-size: 30px;
}
.project-info a {
  text-decoration: none;
  color: var(--navLight);
  font-weight: bold;
}
#project-age-rating {
  padding: 7px;
  height: 1rem;
  line-height: 1rem;
  border-radius: 7px;
  color: #000000;
  background-color: var(--navDark);
  cursor: help;
  text-wrap: nowrap;
}
#project-version {
  color: var(--rating);
  font-weight: normal;
  font-size: initial;
  margin-left: 10px;
}
#project-age-rating.teen {
  background-color: #ff7158;
}
.embed {
  width: 100%;
  margin-top: 0;
  background-color: #1b1b1b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.interactions {
  display: flex;
  gap: 5px;
}
.interaction-button {
  height: 20px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}
.upvote {
  display: flex;
  align-items: center;
  gap: 5px;
}
.upvote p {
  color: var(--upvote);
  font-weight: bold;
}
.downvote {
  display: flex;
  align-items: center;
  gap: 5px;
}
.downvote p {
  color: var(--downvote);
  font-weight: bold;
}
.rating > p {
  color: var(--rating);
}
.actions {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}
.actions a {
  cursor: pointer;
  text-wrap: nowrap;
}
.report {
  background-color: var(--report);
  text-decoration: none;
  font-weight: bold;
  color: var(--reportText);
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}
.report img {
  height: 10px;
}
.download {
  background-color: var(--download);
  text-decoration: none;
  font-weight: bold;
  color: var(--downloadText);
  padding-right: 5px;
  border-radius: 5px;
  padding-left: 5px;
}
.download img {
  height: 10px;
}
.share {
  background-color: var(--share);
  text-decoration: none;
  font-weight: bold;
  color: var(--shareText);
  padding-right: 5px;
  border-radius: 5px;
  padding-left: 5px;
}
.share img {
  height: 10px;
}
.comments {
  height: 550px;
  width: 40%;
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.comments h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.comment-input {
  display: flex;
  gap: 10px;
}
.comment-input img {
  height: 34px;
  border-radius: 6px;
}
form.comment-submit > input[type="text"] {
  color: white;
  background-color: #1b1b1b;
  border: 3px solid #1b1b1b;
  border-radius: 10px;
  width: auto;
  height: 20px;
  padding: 5px;
}
form.comment-submit > input[type="text"]:focus {
  border: 3px solid var(--primary);
}
form.comment-submit > input[type="submit"] {
  cursor: pointer;
  color: white;
  background-color: var(--innerBlock2);
  border: 3px solid var(--innerBlock2);
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border 0.3s ease;
}
form.comment-submit > input[type="submit"]:hover {
  color: var(--primary);
  background-color: var(--innerBlock2);
  border: 3px solid var(--navLight);
  border-radius: 10px;
}
.comment-input > form.comment-submit {
  display: flex;
  gap: 10px;
}
.comment {
  background-color: var(--innerBlock2);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.reply {
  background-color: var(--innerBlock);
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.reply-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.comment-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
a.comment-username {
  color: white;
  text-decoration: none;
}
p.comment-time {
  color: var(--rating);
}
a.comment-report {
  text-decoration: none;
  font-weight: bold;
  color: var(--report);
  padding-right: 5px;
  border-radius: 5px;
}
a.comment-report > img {
  height: 16px;
}
a.comment-reply {
  text-decoration: none;
  font-weight: bold;
  color: var(--univText);
  padding-right: 5px;
  border-radius: 5px;
}
.comment-pfp {
  width: 30px;
  border-radius: 7px;
}
p.content {
  margin-top: 0;
}
p.content > a {
  color: var(--navLight);
  font-weight: bold;
}
.about-info {
  padding: 10px;
  background-color: var(--innerBlock);
  border-radius: 10px;
  height: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-info p {
  margin: 0px;
}
.disclaimer a {
  color: var(--navLight);
  font-weight: bold;
}
.author-info a {
  color: var(--navLight);
  font-weight: bold;
  text-decoration: none;
}
.description {
  background-color: var(--innerBlock2);
  border-radius: 10px;
  padding: 10px;
}
.description h2,
.description p {
  margin: 0px;
}
.tags a {
  color: black;
  text-decoration: none;
  background-color: var(--navLight);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  transition: transform 0.2s;
}
.tags a:hover {
  background-color: var(--navDark);
}
.galleries {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
.galleries h2 {
  margin: 0px;
  margin-bottom: 10px;
}
.galleries-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.gallery {
  background-color: var(--innerBlock2);
  width: 180px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 3px;
}
.gallery a {
  color: white;
  text-decoration: none;
  margin: 0px;
}
.gallery img {
  width: 178px;
  height: 100px;
  border-radius: 10px;
}
.gallery p {
  margin: 7px;
  font-weight: bold;
}
body.loading .loading-skeleton {
  background-color: var(--blockBack) !important;
  color: var(--blockBack) !important;
  filter: brightness(1.5);
  z-index: 2;
  border-radius: 7px;
  display: inline-block;
}

#project-teen-block {
  display: none;
  text-align: center;
}

#project-embed-container.teen-block {
  height: 412px;
  align-items: center;
}

#project-embed-container.teen-block #project-teen-block {
  display: block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 1100px) {
  .project {
    display: block;
  }
  .project .main-area {
    width: unset;
    margin-bottom: 10px;
  }
  .project .comments {
    width: unset;
  }
}
#rate-dialog {
  margin-top: 30px;
  background-color: var(--innerBlock);
  border: 3px solid white;
  border-radius: 3px;
  color: white;
}
#rate-dialog select, #rate-dialog button {
  color: white;
  background-color: #1b1b1b;
  border: 3px solid #1b1b1b;
  border-radius: 10px;
  width: auto;
  padding: 5px;
}
#project-edit-button {
  color: var(--primary);
  font-weight: bold;
}