  #main {
    background-color: var(--websiteBack);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  #content {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
  }
  #msgcontainer {
    background-color: var(--innerBlock);
    border-radius: 10px;
  }
  #banner {
    background-color: var(--innerBlock2);
    border-radius: 10px;
    padding: 10px;
    color: var(--univText);
    font-size: 30px;
    text-align: center;
  }
  #filter {
    color: var(--univText);
  }
  #filter > table {
    margin-left: auto;
    margin-right: auto;
  }
 #filtertr > td {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }
  .messagefilter {
    border-radius: 50%;
  }
  .msg {
    border-style: solid;
    color: var(--univText);
    border-color: var(--innerBlock2);
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .msg * a {
    color: var(--navLight);
    font-weight: bold;
    text-decoration: underline;
  }
  .commentmsg {
    background-color: var(--innerBlock2);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
  }
  .msgcontent {
    display: flex;
    margin-top: 5px;
  }
  .usermsgpfp {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-right: 5px;
  }
  #msghighest {
    border: none !important;
    border-radius: 10px 10px 0px 0px;
  }
  #msglowest {
    border-radius: 0px 0px 10px 10px;
  }
  .adminmsg {
    border-style: solid;
    color: var(--univText);
    border-color: var(--innerBlock2);
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--alert);
  }
