#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#banner {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}
#logo {
  width: 15%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
a {
  color: var(--navLight);
  text-decoration: underline;
  font-weight: bold;
}
#message {
  text-align: center;
}
