:root {
  --navLight: #ffbd59;  /* navbar appearance */
  --navDark: #f0b151; /* navbar on hover */
  --signoutBorder: #aaa000; /* line in userinfo dropdown */
  --lightOrange: #ffbd59; /* orange links around the site */
  --searchBar: #d69d47; /* search bar background-color */
  --websiteBack: #000000; /* main background */
  --univText: #ffffff; /* text color */
  --innerBlock: #2b2b2b; /* all inner boxes */
  --blockBack: #2b2b2b; /* footer */
  --footerDisc: #ffbd59; /* very bottom, disclaimer */
}
/* General Elements */
body, html {
  font-family: "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--navLight);
}
input {
  outline: none;
}
#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
.spacer {
  width: 100%;
  height: 15px;
}
.navitem a {
display: block;
}
#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#banner {
  background-color: var(--websiteBack);
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}
.sectiontitle {
  font-size: 27.5px;
  text-align: center;
}
.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
}
.person {
  display: block;
  background-color: var(--websiteBack);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  width: 160px;
}
.person:hover .username {
  text-decoration: underline;
}
.person > .pfp {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.person > .username {
  color: var(--navLight);
  font-size: 22.5px;
  text-align: center;
}
.role {
  color: var(--univText);
  font-size: 15px;
  text-align: center;
}
