#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#banner {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}
.sectiontitle {
  font-size: 27.5px;
  text-align: center;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  justify-items: center;
}
.person {
  display: block;
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  width: 160px;
}
.pfp, .username, .role {
  transition: ease 0.3s all;
}
.person:hover .username {
  color: var(--searchBar)
}
.person:hover .pfp {
  filter: brightness(80%);
}
.person:hover .role {
  color: #c4c4c4;
}
.pfp {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.username {
  color: var(--navLight);
  font-size: 22.5px;
  text-align: center;
}
.role {
  color: var(--univText);
  font-size: 15px;
  text-align: center;
}
