#admin {
    background-color: var(--innerBlock2);
    padding: 10px;
    height: fit-content;
    max-width: 20%;
    width: fit-content;
    color: var(--univText);
    overflow: wrap;
}
#admingalleryinfo {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admingallerytitle {
    font-size: 18px;
    font-weight: bold;
}
#admingalleryuserbanned {
    color: var(--downvote);
    font-weight: bold;
    font-size: 15px;
}
.adminbutton {
    background-color: var(--innerBlock2);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: var(--univText);
    border-color: var(--navLight);
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
}
#admingallerydesc {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admingallerydesctitle {
    font-size: 18px;
    font-weight: bold;
}
#admingallerydesccontent {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#admingallerynotes {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admingallerynotestitle {
    font-size: 18px;
    font-weight: bold;
}
#admingallerynotescontent {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#admingallerythumbinfo {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admingallerythumbtitle {
    font-size: 18px;
    font-weight: bold;
}
#admingallerythumb {
    height: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#adminactions {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminactionstitle {
    font-size: 18px;
    font-weight: bold;
}