#admin {
    background-color: var(--innerBlock2);
    padding: 10px;
    height: 100%;
    max-width: 20%;
    width: fit-content;
    color: var(--univText);
    overflow: wrap;
}
#adminprojecttitle {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
#adminprojectdetails {
    font-size: 15px;
}
.adminbutton {
    background-color: var(--innerBlock2);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: var(--univText);
    border-color: var(--navLight);
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
}
#adminnotes {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminnotestitle {
    font-size: 18px;
    font-weight: bold;
}
#adminnotescontent {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#admindesc {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admindesctitle {
    font-size: 18px;
    font-weight: bold;
}
#adminprojectsdesc {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#adminrating {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminratingtitle {
    font-size: 18px;
    font-weight: bold;
}
#adminratingselect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    color: var(--univText);
    padding: 10px;
    border: var(--navLight);
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
#admintags {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admintagstitle {
    font-size: 18px;
    font-weight: bold;
}
#admintagscontent {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#adminactions {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminactionstitle {
    font-size: 18px;
    font-weight: bold;
}
#adminaccountstatusbanned {
    color: var(--downvote);
    font-weight: bold;
}