#admin {
    background-color: var(--innerBlock2);
    padding: 10px;
    height: calc(100vh - 80px);
    max-width: 20%;
    width: fit-content;
    color: var(--univText);
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-radius: 10px 0px 0px 10px;
    position: fixed;
    top: 55px;
    right: 0px;
}
#admin,
#admin > * {
    transition: 0.3s ease all;
}
#adminusername {
    font-size: 20px;
    font-weight: bold;
    overflow: wrap;
}
#adminuser {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminnotes {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminnotestitle {
    font-size: 18px;
    font-weight: bold;
}
.adminbutton {
    background-color: var(--innerBlock2);
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: var(--univText);
    border-color: var(--navLight);
    border-style: solid;
    border-width: 2px;
}
#adminnotescontent {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    height: fit-content;
    max-height: 80px;
    overflow: auto;
}
#adminalts {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminaltscontent {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
}
.alt {
    display: flex;
    flex-direction: row;
}
.accountbanned {
    color: var(--downvote);
    font-weight: bold;
}
.accountenabled {
    color: var(--upvote);
    font-weight: bold;
}
#adminalerts {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminalertstitle {
    font-size: 18px;
    font-weight: bold;
}
.adminalert {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
}
#adminbio {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminbiotitle {
    font-size: 18px;
    font-weight: bold;
}
#adminroles {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminrolestitle {
    font-size: 18px;
    font-weight: bold;
}
#adminusersbio {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
}
#roleslist {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
}
#adminactions {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminactionstitle {
    font-size: 18px;
    font-weight: bold;
}
#adminpfp {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#adminpfptitle {
    font-size: 18px;
    font-weight: bold;
}
#userspfp {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#admindisplayname {
    background-color: var(--innerBlock);
    padding: 10px;
    border-radius: 10px;
}
#admindisplaynametitle {
    font-size: 18px;
    font-weight: bold;
}
#adminusersdisplayname {
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
}
