#content {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
#banner {
  background-color: var(--innerBlock2);
  border-radius: 10px;
  padding: 10px;
  color: var(--univText);
  font-size: 30px;
  text-align: center;
}
#support {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#support > a {
  text-decoration: underline;
  color: var(--navLight);
  font-weight: bold;
}
