#main {
  background-color: var(--websiteBack);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
#content {
  background-color: var(--innerBlock);
  border-radius: 10px;
  padding: 10px;
}
#banner {
  background-color: var(--innerBlock2);
  border-radius: 10px;
  padding: 10px;
  color: var(--univText);
  font-size: 30px;
  text-align: center;
}
#support {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  color: var(--univText);
}
#support > a {
  text-decoration: underline;
  color: var(--navLight);
  font-weight: bold;
}
