
#content {
    background-color: var(--innerBlock);
    border-radius: 10px;
    padding: 10px;
  }
  #banner {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--innerBlock2);
    font-size: 35px;
    color: var(--univText);
    text-align: center;
  }
  #terms {
    color: var(--univText);
    margin-top: 8px;
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
  }
  #explain {
    color: var(--univText);
    margin-top: 8px;
    background-color: var(--innerBlock2);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
  #explain > a {
    color: var(--navLight);
    text-decoration: underline;
    font-weight: bold;
  }
  #terms > p > a {
    color: var(--navLight);
    text-decoration: underline;
    font-weight: bold;
  }
  h1 {
    margin: 0;
  }