#banner {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}
#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
}
.reason {
  display: flex;
  flex-direction: column;
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
}
.reasontitle {
  font-size: 20px;
  font-weight: bold;
}
#appeal {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
}
