#content {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#content h1 {
  margin: 0;
  padding: 0;
}
#statistics {
  padding: 10px;
  background-color: var(--innerBlock2);
  border-radius: 10px;
}
#statistics > * {
  margin: 0;
  padding: 0;
}
#stuff-items {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#create-row {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
}
#create-row h3 {
  margin: 0;
  padding: 0;
}
#create-items {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#create-items > button {
  color: black;
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: #ffbd59;
  border: 5px white solid;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
#create-items > button:hover {
  background-color: #d69d47;
  cursor: pointer;
  border: 5px solid #ffbd59;
}
#upload-project-section {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.upload-project #upload-project-section {
  display: block;
}
#uploadform {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}
#uploadform a {
  color: #ffbd59;
  font-weight: bold;
}
#upload-title {
  width: 100%;
  padding: 5px;
  margin-right: 16px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#upload-title:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
#signupform label {
  font-size: 18px;
}
#upload-description {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  resize: vertical;
  font-family: "Calibri", sans-serif;
}
#upload-description:focus {
  border: 3px solid #ffbd59;
  background-color: #ffbd59;
  color: black;
}
input[type="file"] {
  margin-bottom: 10px;
}
input[type="file"]::file-selector-button {
  background-color: #2b2b2b;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
input[type="file"]::file-selector-button:hover {
  background-color: #ffbd59;
  border: 3px solid white;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}
#tou:hover {
  cursor: pointer;
}
.checkboxes {
  display: flex;
  margin-bottom: 10px;
}
#submit {
  width: calc(100% + 16px);
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#submit:hover {
  color: black;
  background-color: #ffbd59;
  cursor: pointer;
}
#my-projects {
  background-color: var(--innerBlock2);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#my-projects h3 {
  margin: 0;
  padding: 0;
}
#projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.project {
  background-color: var(--innerBlock);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.project-title {
  padding: 0px;
  margin: 0px;
  color: white;
}
.project-thumbnail {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.project-stats {
  padding: 10px;
  margin: 0px;
  background-color: var(--innerBlock2);
  border-radius: 10px;
}
.project-actions {
  display: flex;
  gap: 10px;
}
.delete-project {
  width: 25%;
  padding: 5px;
  background-color: #2b2b2b;
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.delete-project:hover {
  background-color: #5e0c0c;
  cursor: pointer;
}
.share-status {
  width: 75%;
  background-color: #2b2b2b;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.share-status:hover {
  cursor: pointer;
  background-color: #ffbd59;
  color: black;
}
